<div class="container-md p-3">
    <h1 class="text-center">Lista de Productos</h1>
        <table class="table m-3 table-striped">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Imagen</th>
                </tr>
            </thead>
            <tbody id="productos">

            </tbody>
        </table>
</div>